@model UserModel

@{
    ViewData["Title"] = "Cadastro";
}

<form class="container container-sm text-center" asp-controller="Sign" asp-action="In" method="POST">
    <div class="form-floating mb-3">
        <input type="email" asp-for="Email" class="form-control" id="emailInput">
        <label for="emailInput">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" asp-for="Password" class="form-control" id="passwordInput">
        <label for="passwordInput">Senha</label>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Acessar</button>
</form>