<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - todo</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/todo.styles.css" asp-append-version="true" />
	<link rel="favicon" href="~/img/TODO.png" />
</head>

<body>
	<header class="container-fluid border-bottom py-2 mb-3 row">
		<nav class=" nav px-2">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
				<img src="~/img/TODO.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-center">
				<span class=" app-name"><span>TO</span>DO</span>
			</a>
			@if (ViewBag.UserName != null)
			{
				<a class="nav-link" href="#">Suas Tarefas</a>
				<a class="nav-link" href="#">Nova Tarefa</a>
				<span class="nav-link disabled" aria-disabled="true">Olá, @ViewBag.UserName!</span>

			}
		</nav>
	</header>
	</nav>


	<div class="container justify-content-center">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted text-center">
		<div class="container">
			&copy; 2023 - <span class="app-name"><span>TO</span>DO</span>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>