@model UserModel

@{
    ViewData["Title"] = "Cadastro";
}
<form class="container container-sm text-center" asp-controller="Sign" asp-action="Up" method="post">
    <div class="form-floating mb-3">
        <input asp-for="Name" type="text" class="form-control" id="nameInput">
        <label for="nameInput">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Email" type="email" class="form-control" id="emailInput">
        <label for="emailInput">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Password" type="password" class="form-control" id="passwordInput">
        <label for="passwordInput">Senha</label>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
</form>