@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100;300;400;600;700&display=swap");

html {
  font-size: 14px;
}

:root {
  --purple: #7a3cf4;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.app-name {
  font-weight: bold;
  text-transform: capitalize;
  color: #0e0e0e;
}

.app-name span {
  color: var(--purple);
}

.card-img-top {
  width: 100%;
  border-radius: 3px;
  filter: brightness(0.8);
  transition: 100ms;
}

.card {
  padding: 0;
  max-width: 17rem;

  &:hover {
    > .card-img-top {
      filter: brightness(0.75);
    }
  }
}

main > .container-fluid {
  min-height: 30vh;
  padding: 3rem 0;
  margin: auto;
}

.modal .form-control {
  box-shadow: none;
  border: none;

  &:focus {
    box-shadow: none;
    outline: none;
    border: none;
  }
}

.modal textarea {
  max-height: 270px;
}

@media (max-width: 430px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin: 0.75rem 0;
  }
}

.task-form {
  padding: 2rem 1rem;
  .form-control {
    box-shadow: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  & textarea {
    resize: vertical;
    min-height: 270px;
    max-height: 270px;
  }
}

form {
  button {
    background-color: var(--purple);
  }

  .form-control {
    border-color: var(--purple);
  }
}

.btn-primary {
  background-color: var(--purple);

  &:hover {
    filter: brightness(0.8);
    background-color: var(--purple);
  }
  &:focus {
    outline-color: var(--purple);
  }
}

.active {
  color: var(--purple);
}
